@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');
@import "tailwindcss";
@source not "../../../public";
@source not "../../../vendor";

@theme {
  --font-logo: "Outfit", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));
